# Clock signal at 125MHz
NET "clk"        LOC=L16 | IOSTANDARD=LVCMOS33; 
NET "clk" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 125 MHz HIGH 50%; 

# VGA Connector
NET "r<0>"      LOC=M19 | IOSTANDARD=LVCMOS33; 
NET "r<1>"      LOC=L20 | IOSTANDARD=LVCMOS33; 
NET "r<2>"      LOC=J20 | IOSTANDARD=LVCMOS33; 
NET "r<3>"      LOC=G20 | IOSTANDARD=LVCMOS33; 
NET "r<4>"      LOC=F19 | IOSTANDARD=LVCMOS33; 
NET "g<0>"      LOC=H18 | IOSTANDARD=LVCMOS33; 
NET "g<1>"      LOC=N20 | IOSTANDARD=LVCMOS33; 
NET "g<2>"      LOC=L19 | IOSTANDARD=LVCMOS33; 
NET "g<3>"      LOC=J19 | IOSTANDARD=LVCMOS33; 
NET "g<4>"      LOC=H20 | IOSTANDARD=LVCMOS33; 
NET "g<5>"      LOC=F20 | IOSTANDARD=LVCMOS33; 
NET "b<0>"      LOC=P20 | IOSTANDARD=LVCMOS33; 
NET "b<1>"      LOC=M20 | IOSTANDARD=LVCMOS33; 
NET "b<2>"      LOC=K19 | IOSTANDARD=LVCMOS33; 
NET "b<3>"      LOC=J18 | IOSTANDARD=LVCMOS33; 
NET "b<4>"      LOC=G19 | IOSTANDARD=LVCMOS33; 
NET "hs"        LOC=P19 | IOSTANDARD=LVCMOS33; 
NET "vs"        LOC=R19 | IOSTANDARD=LVCMOS33; 

# Switches
NET "switch<0>"         LOC=G15 | IOSTANDARD=LVCMOS33; 
NET "switch<1>"         LOC=P15 | IOSTANDARD=LVCMOS33; 
NET "switch<2>"         LOC=W13 | IOSTANDARD=LVCMOS33; 
NET "switch<3>"         LOC=T16 | IOSTANDARD=LVCMOS33; 

# Buttons
NET "reset"        LOC=R18 | IOSTANDARD=LVCMOS33;  # Boutton 0
NET "push<0>"         LOC=P16 | IOSTANDARD=LVCMOS33;  # Boutton 1
NET "push<1>"         LOC=V16 | IOSTANDARD=LVCMOS33;  # Boutton 2
NET "push<2>"         LOC=Y16 | IOSTANDARD=LVCMOS33;  # Boutton 3

# LEDs
NET "LED<0>"        LOC=M14 | IOSTANDARD=LVCMOS33; 
NET "LED<1>"        LOC=M15 | IOSTANDARD=LVCMOS33; 
NET "LED<2>"        LOC=G14 | IOSTANDARD=LVCMOS33; 
NET "LED<3>"        LOC=D18 | IOSTANDARD=LVCMOS33; 
